@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script src="~/js/contratos/govToken.js?v=@(JavascriptHelper.Versao)"></script>
    <script src="~/js/contratos/contalastro.js?v=@(JavascriptHelper.Versao)"></script>
    <script src="~/js/contratos/agenteFederado.js?v=@(JavascriptHelper.Versao)"></script>
    <script src="~/js/modulos/governofederal/transferirContaLastro.js?v=@(JavascriptHelper.Versao)"></script>
}

<div id="ribbon">
    <ol class="breadcrumb">
        <li>Início</li>
        <li>Conta Lastro Governo</li>
        <li>Transferir</li>
    </ol>
</div>

<div id="content">
    <section id="widget-grid" class="">

        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-6">

                <div class="jarviswidget" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false"
                     data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-collapsed="false"
                     data-widget-sortable="false">

                    <header>
                        <span class="widget-icon"><i class="fa fa-edit"></i></span>
                        <h2>Transferência</h2>
                    </header>

                    <div id="dados_cadastrais">
                        <div class="widget-body no-padding">
                            <div class="smart-form">
                                <form id="transferenciaForm" name="transferenciaForm">
                                    <fieldset>
                                        <section>
                                            <div class="row">
                                                <div class="col col-12 col-sm-12">
                                                    <label class="label">Agente Federado:</label>
                                                    <select class="form-control" id="ddlAgenteFederado" name="ddlAgenteFederado" required>
                                                        <option value="">Selecione</option>
                                                    </select>
                                                </div>

                                                <div class="col col-12 col-sm-12">
                                                    <label class="label">Secretaria:</label>
                                                    <select class="form-control" id="ddlSecretaria" name="ddlSecretaria" required disabled>
                                                        <option value="">Selecione</option>
                                                    </select>
                                                </div>

                                                <div class="col col-12 col-sm-12">
                                                    <label class="label">Valor:</label>
                                                    <label class="input">
                                                        <input name="valor" type="number" id="valor" min="0.01" step=".01" required />
                                                    </label>
                                                </div>

                                            </div>
                                        </section>

                                    </fieldset>
                                    <footer style="margin-top: 20px;">
                                        <button type="submit" name="btn-salvar" id="btn-salvar" class="btn btn-primary">
                                            Transferir
                                        </button>

                                        <button type="button" class="btn btn-default" onclick="window.location='/';">
                                            Cancelar
                                        </button>
                                    </footer>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </article>



        </div>
    </section>
</div>

