@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="ribbon">
    <ol class="breadcrumb">
        <li>Início</li>
        <li>Agentes Federados</li>
        <li>Transferir</li>
    </ol>
</div>

<div id="content">
    <section id="widget-grid" class="">

        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-6">

                <div class="jarviswidget" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false"
                     data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-collapsed="false"
                     data-widget-sortable="false">

                    <header>
                        <span class="widget-icon"><i class="fa fa-edit"></i></span>
                        <h2>Transferência</h2>
                    </header>

                    <div id="dados_cadastrais">
                        <div class="widget-body no-padding">
                            <div class="smart-form">
                                <form id="form" name="form">
                                    <fieldset>
                                        <section>
                                            <div class="row">
                                                <div class="col col-12 col-sm-12">
                                                    <label class="label">Agente Federado:</label>
                                                    <select class="form-control" id="ddl-uf" name="uf">
                                                        <option value="">Selecione</option>
                                                        <option value="AC">Agente 1</option>
                                                        <option value="AC">Agente 2</option>
                                                        <option value="AC">Agente 3</option>
                                                        <option value="AC">Agente 4</option>

                                                    </select>
                                                </div>


                                                <div class="col col-12 col-sm-12">
                                                    <label class="label">Endereço Carteira:</label>
                                                    <label class="input">
                                                        <input name="EnderecoCarteira" type="text" id="endereco-carteira" disabled="disabled" />
                                                    </label>
                                                </div>

                                            </div>
                                        </section>

                                    </fieldset>
                                    <footer style="margin-top: 20px;">
                                        <input type="submit" name="btn-salvar" value="Transferir" id="btn-salvar" class="btn btn-primary" />

                                        <button type="button" class="btn btn-default" onclick="window.location='/';">
                                            Cancelar
                                        </button>
                                    </footer>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </article>

            

        </div>
    </section>
</div>


