@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="ribbon">
    <ol class="breadcrumb">
        <li>Início</li>
        <li>Fornecedor</li>
        <li>Extrato</li>
    </ol>
</div>

<div id="content">
    <section id="widget-grid" class="">

        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-6" id="extrato">

                <div class="jarviswidget" id="wid-id-extrato" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false"
                     data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-collapsed="false"
                     data-widget-sortable="false">

                    <header>
                        <span class="widget-icon"><i class="fa fa-calendar"></i></span>
                        <h2>Extrato</h2>
                    </header>

                    <div>
                        <div class="widget-body no-padding">
                            <div class="smart-form table-responsive" style="padding: 15px; width: auto">
                                <div>
                                    <table id="mytable" class="table table-bordered table-striped" cellspacing="0" rules="all" border="1" style="border-collapse:collapse;">
                                        <thead>
                                            <tr class="header" style="height:5px !important;">
                                                <th class="text-center" scope="col">Data</th>
                                                <th class="text-center" scope="col">Descrição</th>
                                                <th class="text-center" scope="col">Valor</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="data-item">
                                                <td class="text-center">10/01/2023</td>
                                                <td class="text-center">Crédito Secretaria 1</td>
                                                <td class="text-center">10.000.000,00</td>
                                            </tr>
                                            <tr class="data-item">
                                                <td class="text-center">10/02/2023</td>
                                                <td class="text-center">Crédito Secretaria 1</td>
                                                <td class="text-center">15.000.000,00</td>
                                            </tr>
                                            <tr class="data-item">
                                                <td class="text-center">10/02/2023</td>
                                                <td class="text-center">Resgate Token</td>
                                                <td class="text-center">1.000.000,00</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </article>

        </div>
    </section>
</div>


