@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script src="~/js/contratos/painelServicos.js?v=@(JavascriptHelper.Versao)"></script>
    <script src="~/js/contratos/fornecedor.js?v=@(JavascriptHelper.Versao)"></script>
    <script src="~/js/modulos/fornecedor/painelServicos.js?v=@(JavascriptHelper.Versao)"></script>
}

<div id="ribbon">
    <ol class="breadcrumb">
        <li>Início</li>
        <li>Fornecedor</li>
        <li>Painel Serviços</li>
    </ol>
</div>

<div id="content">
    <section id="widget-grid" class="">

        <div class="row">

            <article class="col-sm-12 col-md-12 col-lg-10">

                <div class="jarviswidget" id="wid-id-agendamentos" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false"
                     data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-collapsed="false"
                     data-widget-sortable="false">
                    <span id="msg"></span>
                    <header>
                        <span class="widget-icon"><i class="fa fa-wrench"></i></span>
                        <h2>Serviços Disponiveis</h2>
                    </header>

                    <div>
                        <div class="widget-body no-padding">
                            <div id="painel-servicos" style="margin: 15px 0 0 0;" class="row">
                            </div>
                        </div>
                    </div>

                </div>
            </article>

        </div>
    </section>
</div>
